:root {
    --border-color: rgb(232,234,237);
}

html {
    height: 100vh;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: rgb(249,250,251);
}

th {
    text-align: left;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

.select2-search--dropdown .select2-search__field:focus {
    outline: 0;
}

.select2-container .select2-selection--single {
    height: 40px !important;
    border-radius: 2px !important;
    border-color: var(--border-color) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}

.select2-container {
    width: 100% !important;
}